@import '~antd/dist/antd.css';

.App {
  text-align: center;
  .layout {
    min-height: 100vh;
  }
  .sider {
    background-color: white;
    border-right: 1px solid #E5EAF3;
  }
  .ant-layout {
    background: #F9FBFD;
  }
  .header {
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #E5EAF3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
    .sing-out {
      font-size: 20px;
      color: #A7B0CF;
    }
    .wrapper-information, .wrapper-users {
      position: relative;
      display: inline-block;
      justify-content: start;
      line-height: 1;
      .wrapper-avatar {
        min-width: 150px;
        display: grid;
        grid-template-columns: 42px auto;
        grid-template-rows: 1fr;
        column-gap: 8px;
        .wrapper-badge {
          .badge {
            .ant-badge-dot {
              top: 5px;
              right: 5px;
            }
            .avatar {
              width: 42px;
              height: 42px;
              border-radius: 21px;
              background: #eee;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
        .wrapper-user {
          display: grid;
          align-self: stretch;
          div {
            align-self: center;
            text-align: left;
            &.username {
              font-weight: bold;
            }
            &.timestamp {
              color: #A5B2BE;
              font-size: 11px;
            }
          }
        }
      }
    }
  }

  aside {
    padding: 30px 0;
    .wrapper-users {
      position: relative;
      display: inline-block;
      justify-content: start;
      line-height: 1;
      .wrapper-avatar {
        min-width: 150px;
        display: grid;
        grid-template-columns: 42px auto;
        grid-template-rows: 1fr;
        column-gap: 8px;
        margin-bottom: 30px;
        .wrapper-badge {
          .badge {
            .ant-badge-dot {
              top: 5px;
              right: 5px;
            }
            .avatar {
              width: 42px;
              height: 42px;
              border-radius: 21px;
              background: #eee;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
        .wrapper-user {
          display: grid;
          align-self: stretch;
          div {
            align-self: center;
            text-align: left;
            &.username {
              font-weight: bold;
            }
            &.timestamp {
              font-size: 11px;
              color: #A5B2BE;
            }
          }
        }
      }
    }
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  main {
    position: relative;
    z-index: 1;
    flex: 1 1 0;
    order: 0;
    .container-messages {
      position: absolute;
      top: 0;
      z-index: 100;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      transition: background .3s ease-out;
      //justify-content: flex-end;
      .fixed {
        flex: 1 1 auto;
        min-height: 12px;
      }
    }
    margin: 50px;
    .wrapper-message {
      display: grid;
      grid-template-columns: 42px auto;
      margin-bottom: 30px;
      gap: 16px;
      position: relative;
      .avatar {
        border-radius: 21px;
        background: #eee;
        width: 42px;
        height: 42px;
        overflow: hidden;
      }
      .message {
        background: white;
        border-radius: 0 20px 20px 20px;
        padding: 20px;
        font-weight: 500;
        text-align: left;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
      .date {
        position: absolute;
        bottom: 5px;
        right: 10px;
        color: rgba(69, 69, 69, 0.63);
        font-weight: bold;
        font-size: 9px;
      }
      &.same-user {
        grid-template-columns: initial;
        justify-content: end;
        .avatar {
          display: none;
        }
        .message {
          background: #6C89F4;
          color: white;
          border-radius: 20px 20px 0 20px;
          text-align: right;
          box-shadow: none;
        }
        .date {
          color: rgba(241, 241, 242, 0.63);
        }
      }
    }
  }

  footer {
    background: transparent;
    .wrapper-message {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      background: white;
      border-radius: 5px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      .send-message {
        font-size: 20px;
        color: #A7B0CF;
      }
    }
  }
}
