@import '~antd/dist/antd.css';

.Login {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #282c34;
  .login-warp {
    background: #F9FBFD;
    border: 1px solid #E5EAF3;
    padding: 50px;
    width: 360px;
    margin: auto;
    box-shadow: var(--box-shadow, 1px 1px 4px 0 rgba(0, 0, 0, 0.15));
    border-radius: var(--border-radius, 6px);
    .subTitle {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 16px;
    }
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .ant-input-affix-wrapper {
      border-radius: 20px;
      border: 1px solid #A7B0CF;
      .site-form-item-icon {
        color: #A7B0CF;
      }
    }
    .login-form-button {
      background: #A7B0CF;
      color: white;
      border-radius: 20px;
      font-size: 15px;
    }
    a {
      color: #6C89F4;
      font-size: 12px;
    }
  }
}
